.textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
}

.textarea[contenteditable]:empty::before {
    content: "Shorten your links";
    color: gray;
}

form{
    margin-top: 4rem;
}

button:hover{
}